@import url(https://fonts.googleapis.com/css?family=Roboto:300);

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
  }
      
  li a {   
    float: ridge;
  }
      
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
      
  li a:hover {
    background-color: #111111;
  }
    
  img {
    width: 250px;
    heigh: 250px;
  }
  
  input:last-child {
    border: none;
    text-align: center;
    font: size: 20px;
    background-color: #3d9448;
    color: white;
    padding: 15px 32px;
  }
.test{
    white-space: inherit;
    width: 500px;
    border: 1px solid white;
    overflow: hidden;
    text-overflow: clip;
    font-family: sans-serif;
    color: #d6d912;
    
}
.fieldset{
    background-color: cornsilk;
    width: 700px;
    border: 1px solid cornsilk;
    padding: 20px;
    margin: 10px;
    text-transform: unset;

}

body{
    width: 1000px;
    height: 1000px;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(blue,yellow,black);
}

.text{
    color: hsla(170, 49%, 24%, 0.13) ;
    font-size: xx-large;
}
.text1{
    color: rgb(87, 154, 180) ;
    font-size: x-large;
}
.text2{
    color: rgb(145, 139, 87) ;
    font-size: larger;
}



/* successregister */
#card {
  position: relative;
  width: 320px;
  display: block;
  margin: 40px ;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}
