ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
  }
      
  li a {   
    float: ridge;
  }
      
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
      
  li a:hover {
    background-color: #111111;
  }
    
  img {
    width: 250px;
    height: 250px;
  }
  
  input:last-child {
    border: none;
    text-align: center;
    font: size: 20px;
    background-color: #3d9448;
    color: white;
    padding: 15px 32px;
}
.test{
    white-space: inherit;
    width: 500px;
    border: 1px solid white;
    overflow: hidden;
    text-overflow: clip;
    
}
.fieldset{
    background-color: cornsilk;
    width: 700px;
    border: 1px solid cornsilk;
    padding: 20px;
    margin: 10px;
    text-transform: unset;

}

.text{
    color: indianred ;
    font-size: xx-large;
    width: 60%
}
.text1{
    color: rgb(87, 154, 180) ;
    font-size: x-large;
}
.text2{
    color: rgb(145, 139, 87) ;
    font-size: larger;
}
.title{
  color:#d62e58
}

.button{
  background-color: #f10909;
  font-size: 24px;
  color: #fbbc05;
  border: none;
  cursor: pointer;
  margin: 4x 2px;
  border-radius: 10px;
}